.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h3 {
  font-size: 2em;
  font-weight: 800;
}

/* no match page  */
.nomatch__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nomatch__div h1 {
  font-size: 5em;
  font-weight: 900;
}

.nomatch__div {
  font-size: 1em;
  font-weight: 400;
}
